* {
    border: none;
    border-radius: 10px;
    font-family: 'Sans-serif';
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(10, 10, 10, 0.1);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.0;
}

#workspaces button,
#hyprland-workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused,
#hyprland-workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#hyprland-workspaces {
    margin-right: 5px;
    padding: 5px;
}

#mode,
#clock {
    padding: 0 10px;
    margin: 0 5px;
    background-color: #780606;
}

#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 5px;
}

#custom-power{
    padding: 0 10px;
    margin: 0 5px;
}

#battery {
    background: #780606;
}

#battery.charging {
    background: #780606;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    animation: blink 0.5s linear infinite alternate;
}

#cpu {
    background: #780606;
}

#memory {
    background: #780606;
}

#backlight {
    background: #780606;
}

#network {
    background: #780606;
}

#network.disconnected {
    background: #ffffff;
}

#pulseaudio {
    background: #780606;
}

#pulseaudio.muted {
    background: #780606;
    color: #ffffff;
}

#custom-media {
    background: #66cc99;
    color: #2a5c45;
}

#temperature {
    background: #780606;
}

#temperature.critical {
    background: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#custom-archlogo {
    padding: 0 15px;
    margin: 0 5px;
}

#hyprland-workspaces {
    padding: 0 5px;
    margin: 0 5px;
}
#custom-media {
    background: transparent;
    padding: 0;
    border: none;
    font-size: 15px; /* adjust as needed */
    color: #ffffff; /* make sure the text is visible */
}
