* {
    border: none;
    border-radius: 10px;
    font-family: "Terminess Nerd Font", "sans-serif";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
}

.modules-right{
    background: rgba(120, 6, 6, 0.6);
    margin: 1px 0 0 0;
}
.modules-center {
    background-color: rgba(0,0,0,0.4);
    margin: 1px 0 0 0;
}
.modules-left {
    margin: 1px 0 0 0px;
    background-color: rgba(0,119,179,0.6);
}

window#waybar.hidden {
    opacity: 0.0;
}

#workspaces button,
#hyprland-workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused,
#hyprland-workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#hyprland-workspaces {
    margin-right: 5px;
    padding: 5px;
}

#mode,
#clock {
    padding: 0 10px;
    margin: 0 5px;
    background-color: transparent;

}

#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 5px;
}

#custom-power{
    padding: 0 10px;
    margin: 0 5px;
    background-color: transparent;
}

#battery {
    background: transparent;
}

#battery.charging {
    background: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background: rgba(120, 6, 6, 0.4);
    animation: blink 0.5s linear infinite alternate;
}

#cpu {
    background: transparent;
}

#memory {
    background: transparent;
}

#backlight {
    background: transparent;
}

#network {
    background: transparent;
}

#network.disconnected {
    background: #ffffff;
}

#pulseaudio {
    background-color: transparent;
}

#pulseaudio.muted {
    background: transparent;
    color: #ffffff;
}

#temperature {
    background: transparent;
}

#temperature.critical {
    background: rgba(120, 6, 6, 0.4);
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#custom-archlogo {
    padding: 0 15px;
    margin: 0 5px;
}

#hyprland-workspaces {
    padding: 0 5px;
    margin: 0 5px;
}
#custom-media {
    background: transparent;
    /*background-color: rgba(120, 6, 6, 0.4);*/
    padding: 0;
    border: none;
    font-size: 15px; 
    color: #ffffff; 
}




